body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLFXxQFdGvTJWkmRPSpt9nlV0CIrycXI9CXw&usqp=CAU");
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-image : url("https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_1280.jpg");
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.weather-info {
    margin-top: 30px;
}

p {
    margin-bottom: 5px;
}

span {
    font-weight: bold;
}
